
    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="card-body">
                <h4 class="card-title mb-4">Sign in</h4>
                <form method="post" action="/admin/login">
                    <div class="mb-3">
                        <p id="loginErr" style="color: red;"></p>
                        <p style="color: red;"></p>
                        <input class="form-control" placeholder="Username or email"  value="admin@gmail.com" id="adminlog" type="text" name="email">
                    </div> <!-- form-group// -->
                    <div class="mb-3">
                        <p style="color: red;"></p>
                        <input class="form-control" placeholder="Password" type="password" value="123" id="adminpass" name="password">
                    </div> <!-- form-group// -->
                    <div class="mb-3">
                        <a href="#" class="float-end font-sm text-muted">Forgot password?</a>
                        <label class="form-check">
                            <input type="checkbox" class="form-check-input" checked="">
                            <span class="form-check-label">Remember</span>
                        </label>
                    </div> <!-- form-group form-check .// -->
                    <div class="mb-4">
                        <button type="button" onclick="validate()" class="btn btn-primary w-100" name="login"> Login </button>
                    </div> <!-- form-group// -->
                </form>
            </div>
        </div>
    </section>

<script>
    function validate(){

        const adminlog = document.getElementById('adminlog')
        const adminpass = document.getElementById('adminpass')
    
        const emailValue1 = adminlog.value.trim()
        const passwordValue1 = adminpass.value.trim()
    
        const error1_1 = adminlog.parentElement.querySelector('p')
        const error2_2 = adminpass.parentElement.querySelector('p')
    
        error1_1.innerText=""
        error2_2.innerText=""
    
        let flag = 1
    
        if(emailValue1 == ""){
            error1_1.innerText = "This field is required"
            flag=2
        }
        else if(!emailValue1.match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)){
            error1_1.innerText = "Enter valid details"
            flag=2
        }
      
    
        if(passwordValue1 == ""){
            error2_2.innerText = "This field is required"
            flag=2
        }
       
        
        if(flag==1){
            sumbitSigninAdmin(emailValue1,passwordValue1)
        }
    }
    
    
    
        function sumbitSigninAdmin(email1,password1){
            console.log("hi");
            fetch('/admin/login',{
                method:'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body:JSON.stringify({
                    email:email1,
                    password:password1
                })
            })
            .then(res => res.json())
            .then((res)=>{
                console.log(res);
                if(res.value=="success"){
                    console.log('huhu');
                    window.location.href = '/admin/dashboard'
                }
                else{
                    loginErr.innerText="Invalid admin Credentials"
                //    window.location.href="/admin/login"
                }
            })
        }
    
    
    
    </script>